@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not collect any personal data from our users. Your privacy is important to us, and we ensure that no information is gathered or stored during your visit to our site.</p>
